SOFTDESK_BASE_URL=https://softdesk.soft4.com.br
SOFTDESK_USERNAME=
SOFTDESK_PASSWORD=
SOFTDESK_USER_TYPE=A
SOFTDESK_LOGIN_REDIRECT=/chamado
SOFTDESK_ACCEPT_LANGUAGE=en,es;q=0.9,en-US;q=0.8,pt-BR;q=0.7,pt;q=0.6
SOFTDESK_USER_AGENT=Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/149.0.0.0 Safari/537.36
SOFTDESK_COOKIE=
SOFTDESK_XSRF_TOKEN=
SOFTDESK_CSRF_TOKEN=
SOFTDESK_SEND_CSRF_TOKEN=false
